asgiref==3.5.2
Django==4.1.2
sqlparse==0.4.3
tzdata==2022.6
django-smart-selects==1.6.0
django-widget-tweaks==1.4.12
django-summernote==0.8.20.0
django-filter==22.1
python-dotenv==0.21.0
python-dateutil==2.8.2
pillow==9.2.0
beautifulsoup4~=4.11.1