asgiref==3.6.0
beautifulsoup4==4.11.1
bleach==6.0.0
Django==4.1.4
Django==4.1.13
django-filter==22.1
Django==4.1.13
sqlparse==0.4.4
tzdata==2022.7
django-smart-selects==1.6.0
django-summernote==0.8.20.0
django-widget-tweaks==1.4.12
Pillow==10.0.1
python-dateutil==2.8.2
python-dotenv==1.0.0
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.4
tzdata==2022.7
webencodings==0.5.1