input#id_profile_image {
    border: none;
    display: none;
}

input#id_first_name, #id_last_name, #id_email, #id_username, #id_profile_image, #id_birthday, #id_about, #id_phone_number {
    width: 100%;
    background-color: #ffffff;
    padding: 1px 20px;
    color: #000000;
    line-height: 47px;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 1px solid #ddd;
}

.time_comment {
    color: #ffc4a0;
}

#id_article_body_iframe {
    width: 100%;
    background-color: #ffffff;
    padding: 20px 20px;
    color: #000000;
    line-height: 47px;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 1px solid #ddd;
}

.article_center {
    margin-left: auto;
    margin-right: auto;
}

.parent-notification {
    position: relative;
}

.link_notification {
    color: #548eb0;
}
.link_notification_disable {
    color: #7c7a75;
}
.btn_notification_ajax {
    width:  45px;
    height: 45px;
    margin: 0;
    padding:0;
    border: 0;
    color: transparent;
}

.btn_notification_active {
    background: transparent url('../images/icon-crab-active.svg') no-repeat center top;
    cursor: pointer;
}

.btn_notification_disable {
    background: transparent url('../images/icon-crab-disable.svg') no-repeat center top;
    cursor: pointer;
}

.icon-bell-notification {
    position: absolute;
    width: 24px;
    height: 21px;
    top: -11px;
    fill: #d4966f;
    right: -10px;
}

.item {
  width: 33%;
  margin: 2px 1% 2px 1%;
  border: 0;
}

.item li {
  list-style: none;
}

.scrollable-dropdown-list{
  position: absolute;
  max-height:200px;
  width:33%;
  overflow-y:scroll;
  overflow-x:auto;
  margin: 0;
  padding-left: 1em;
  border-style: solid;
  border-width: thin;
  border-color: grey;
  background-color: white;
}

.legend-container legend {
  margin-bottom: 0;
  font-size: 18px;
}

.custom-control-label {
  font-weight: normal;
  margin-left:20px;
}


.legend-container {
  cursor: pointer;
  width: 100%;
  display: flex;
  padding: 0;
  margin-bottom: 0px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: none;
}

.item {
  border-width: thin;
  border-color: gray;
  border-style: solid;
  width:50px;
}

/* Note that all the browser-specific animation stuff is totally optional, but provides a nice subtle animation for the dropdown effect */

.item ul.scrollable-dropdown-list {
  display: none;
  -webkit-animation: slide-down .3s ease-out;
  -moz-animation: slide-down .3s ease-out;
}

.item.selected ul.scrollable-dropdown-list {
  display: block;
  -webkit-animation: slide-down .3s ease-out;
  -moz-animation: slide-down .3s ease-out;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}