input#id_profile_image {
    border: none;
    display: none;
}

input#id_first_name, #id_last_name, #id_email, #id_username, #id_profile_image, #id_birthday, #id_about, #id_phone_number {
    width: 100%;
    background-color: #ffffff;
    padding: 1px 20px;
    color: #000000;
    line-height: 47px;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 1px solid #ddd;
}

.time_comment {
    color: #ffc4a0;
}

#id_article_body_iframe {
    width: 100%;
    background-color: #ffffff;
    padding: 20px 20px;
    color: #000000;
    line-height: 47px;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 1px solid #ddd;
}

.article_center {
    margin-left: auto;
    margin-right: auto;
}

.parent-notification {
    position: relative;
}

.link_notification {
    color: #548eb0;
}
.link_notification_disable {
    color: #7c7a75;
}
.btn_notification_ajax {
    width:  45px;
    height: 45px;
    margin: 0;
    padding:0;
    border: 0;
    color: transparent;
}

.btn_notification_active {
    background: transparent url('../images/icon-crab-active.svg') no-repeat center top;
    cursor: pointer;
}

.btn_notification_disable {
    background: transparent url('../images/icon-crab-disable.svg') no-repeat center top;
    cursor: pointer;
}



.icon-bell-notification {
    position: absolute;
    width: 24px;
    height: 21px;
    top: -11px;
    fill: #d4966f;
    right: -10px;
}