{% load static %}
{% load article_tags %}
{% like_type article=article user=user %}
<div class="author-post-bottom-area" id="{{ article.guid }}">
    <div class="author-post-action-box">
        <div class="author-action">
            <img src="{% static 'images/ico_comments.png' %}" alt="" style="max-width: 24px; max-height: 24px; margin-right: 5px">
            <span class="count" style="margin-right: 5px">{{ article.guid|get_comments_count }}</span>
            <img src="{% static 'images/ico_heart.png' %}" alt="" style="max-width: 24px; max-height: 24px; margin-right: 5px">
            <span class="count" style="margin-right: 5px">{{ article.guid|get_likes_count }}</span>
        </div>
    </div>
    {% if request.user.is_authenticated %}
    <div class="author-post-action-box">
        {% if not like_type %}
        <div class="author-action">
            <a><img src="{% static 'images/ico_dislike.png' %}" alt="" style="max-width: 24px; max-height: 24px"></a>
        </div>
        <div class="author-action">
            <a><img src="{% static 'images/ico_like.png' %}" alt="" style="max-width: 24px; max-height: 24px"></a>
        </div>
        {% elif like_type == 1 %}
        <div class="author-action">
            <a><img src="{% static 'images/ico_dislike.png' %}" alt="" style="max-width: 24px; max-height: 24px"></a>
        </div>
        {% else %}
        <div class="author-action">
            <a><img src="{% static 'images/ico_like.png' %}" alt="" style="max-width: 24px; max-height: 24px"></a>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>