{% load static %}
{% load article_tags %}
{% load admin_urls %}
<h3 class="widget-title mb-30">
    Комментарии ({{ article.guid|get_comments_count }})
</h3>
{% if comments %}
    <ol class="comment-list">
        {% for comment in comments %}
            <li class="comment">
                <div class="btn-group" style="float: right; margin-top: 15px; margin-right: 15px;">
                    {% if comment.user_id == request.user or user.is_staff %}
                        <form class="btn btn-primary btn-medium" action="{% url 'articles:delete_comment' %}"
                              method="POST">
                            {% csrf_token %}
                            <i class="bi bi-trash small" style="margin-left: 0px;"></i>
                            <input type="hidden" name="comment_id" value="{{ comment.guid }}"/>
                            <button style="display: contents" class="button-link" type="submit" value="Удалить"></button>
                        </form>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        {% if user.is_staff %}
                            <form class="btn btn-primary btn-medium"
                                  action="{% url 'users:block' comment.user_id.id %}"
                                  method="POST">
                                {% csrf_token %}
                                <i class="bi bi-dash-circle-fill" style="margin-left: 0px;"></i>
                                <button style="display: contents" class="button-link"
                                        type="submit" value="Забанить"></button>
                            </form>
                            <a class="btn btn-primary btn-medium" href="{% url 'admin:index' %}"
                               style="margin-left: 0px;">
                                <i class="bi bi-person-lines-fill"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="comment-2" id="ch_{{ comment.guid }}">
                    <div class="comment-author-info">
                        <div class="comment-author vcard">
                            <img src="{% author_photo comment.user_id.id %}" alt=""
                                 style="max-height: 50px; max-width: 50px">
                        </div>
                        <div class="comment-content">
                            <div class="meta">
                                <div class="comment-content-top">
                                    <div class="comment-actions">
                                        <h6 class="fn">
                                            <a href="{% url 'users:public_profile' comment.user_id.id %}">
                                                {% comment_author_name comment %}
                                            </a>
                                        </h6>
                                        <div class="comment-datetime">
                                            {{ comment.date_added }}
                                        </div>
                                        <span class="separator">||</span>
                                        <span class="time_comment">{{ comment.time_added }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-text">
                        <p>{{ comment.body | safe }}</p>
                    </div>
                    {% include 'articles/includes/comment_bottom.html' %}
                    {% for comment in comment.sub_comments %}
                        <li class="comment" style="margin-left: 20px">
                        <div class="btn-group" style="float: right; margin-top: 15px; margin-right: 15px;">
                            {% if comment.user_id == request.user or user.is_staff %}
                                <form class="btn btn-primary btn-medium" action="{% url 'articles:delete_comment' %}"
                                      method="POST">
                                    {% csrf_token %}
                                    <i class="bi bi-trash small" style="margin-left: 0px;"></i>
                                    <input type="hidden" name="comment_id" value="{{ comment.guid }}"/>
                                    <button class="button-link" type="submit" style="position: fixed;"
                                            value="Удалить"></button>
                                </form>
                            {% endif %}
                            {% if request.user.is_authenticated %}
                                {% if user.is_staff %}
                                    <form class="btn btn-primary btn-medium"
                                          action="{% url 'users:block' comment.user_id.id %}"
                                          method="POST">
                                        {% csrf_token %}
                                        <i class="bi bi-dash-circle-fill" style="margin-left: 0px;"></i>
                                        <button style="position: fixed;" type="submit" value="Забанить"></button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="comment-2" id="ch_{{ comment.guid }}">
                        <div class="comment-author-info">
                            <div class="comment-author vcard">
                                <img src="{% author_photo comment.user_id.id %}" alt=""
                                     style="max-height: 50px; max-width: 50px">
                            </div>
                            <div class="comment-content">
                                <div class="meta">
                                    <div class="comment-content-top">
                                        <div class="comment-actions">
                                            <h6 class="fn">
                                                <a href="{% url 'users:public_profile' comment.user_id.id %}">
                                                    {% comment_author_name comment %}
                                                </a>
                                            </h6>
                                            <div class="comment-datetime">
                                                {{ comment.date_added }}
                                            </div>
                                            <span class="separator">||</span>
                                            <span class="time_comment">{{ comment.time_added }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-text">
                            <p>{{ comment.body | safe }}</p>
                        </div>
                        {% include 'articles/includes/comment_bottom.html' %}
                    {% endfor %}
        {% endfor %}
        </div>
        </li>
    </ol>
{% endif %}