{% load static %}
{% load article_tags %}
{% spaceless %}
    <div id="c_like_{{ comment.guid }}">
        <div class="author-post-bottom-area">
            <div class="author-post-action-box">
                <div class="author-action d-flex">
                    <img src="{% static 'images/like.svg' %}" alt=""
                         style="width: 28px; height: 28px; margin: 5px">
                    <span class="count" style="margin: 5px">
                        {{ comment.guid|get_likes_count_commentary }}
                    </span>
                </div>
            </div>
            {% if request.user.is_authenticated %}
                <div class="author-post-action-box">
                    <div>
                        {% if comment.user_id == request.user or user.is_staff %}
                            <form action="{% url 'articles:delete_comment' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="comment_id" value="{{ comment.guid }}"/>
                                <button type="submit" class="btn-primary btn-large" value="Удалить">
                                    <i class="bi bi-trash small" style="margin-left: 0px;"></i>
                                </button>
                            </form>
                        {% endif %}
                    </div>
                    <div class="btn-group" style="margin-bottom: 5px; width: auto">
                        {% if request.user.is_authenticated %}
                            {% if user.is_staff %}
                                <form action="{% url 'articles:to_banish' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="user_id" value="{{ comment.user_id.username }}"/>
                                    <button type="submit" class="btn-primary btn-large" value="Забанить">
                                        <i class="bi bi-dash-circle-fill" style="margin-left: 0px;"></i>
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="author-action">
                        <button class="btn-primary btn-medium"
                                onclick="like_pressed_comment('{% url 'articles:like_dislike' %}', '{{ comment.guid }}')">
                            {% like_type_comment as likes %}
                            {% if likes == "like" %}
                                <i class="bi bi-heart" style="margin-left: 0px;"></i>
                            {% elif likes == "dislike" %}
                                <i class="bi bi-heartbreak" style="margin-left: 0px;"></i>
                            {% endif %}
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endspaceless %}