{% load static %}
{% load article_tags %}
{% spaceless %}
    <div id="c_like_{{ comment.guid }}">
        <div class="author-post-bottom-area">
            <div class="author-post-action-box">
                <div class="author-action d-flex">
                    <img src="{% static 'images/like.svg' %}" alt=""
                         style="width: 28px; height: 28px; margin: 5px">
                    <span class="count" style="margin: 5px">
                        {{ comment.guid|get_likes_count_commentary }}
                    </span>
                </div>
            </div>
            {% if request.user.is_authenticated %}
                <div class="author-post-action-box">
                    <div class="author-action">
                        <button class="btn-primary btn-medium"
                                onclick="like_pressed_comment('{% url 'articles:like_dislike' %}', '{{ comment.guid }}')">
                            {% like_type_comment as likes %}
                            {% if likes == "like" %}
                                <i class="bi bi-heart" style="margin-left: 0px;"></i>
                            {% elif likes == "dislike" %}
                                <i class="bi bi-heartbreak" style="margin-left: 0px;"></i>
                            {% endif %}
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endspaceless %}