<div class="table-responsive notifications-table">
    <table class="table table-bordered" id="dataTable"
           width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Прочитано</th>
            <th>Уведомление</th>
        </tr>
        </thead>

        <tbody>
        {% for notification in object_list %}
            <tr>
                <td>
                    {% if notification.message_readed == False%}
                        <input class="btn_notification"
                               type="submit"
                               style="background: #d4966f;"
                               value="{{ notification.guid }}">
                    {% else %}
                        <input class="btn_notification"
                               type="submit"
                               style="background: #827f7f;"
                               value="{{ notification.guid }}">
                    {% endif %}
                </td>
                <td>
                    {% if notification.message_readed == False%}
                        <strong>
                            Пользователь <a class="link_notification" href="{% url 'users:profile' %}">{{ notification.recipient_id.username }}</a> -
                            {{ notification.message }}
                            {% if notification.article_uid %}
                                <a class="link_notification" href="{% url 'articles:article-detail' notification.article_uid.guid %}">{{ notification.article_uid.topic }}</a>
                            {% endif %}
                        </strong>
                    {% else %}
                        Пользователь <a class="link_notification" href="{% url 'users:profile' %}">{{ notification.recipient_id.username }}</a> -
                        {{ notification.message }}
                        {% if notification.article_uid %}
                            <a class="link_notification" href="{% url 'articles:article-detail' notification.article_uid.guid %}">{{ notification.article_uid.topic }}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>