<div class="row single-most-populer-item">
        <table class="table table-borderless " id="dataTable" width="100%" cellspacing="0">
            <tbody class="notifications-table">
                <tr>
                    <th>Прочитано</th>
                    <th>Уведомление</th>
                    <th>Дата создания</th>
                </tr>
                {% for notification in object_list %}
                    {% include 'articles/includes/row_notifications.html' %}
                {% endfor %}
            </tbody>
        </table>
    {% include 'pagination.html' %}
 </div>