{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--ДАННЫЙ БЛОК ДЛЯ ТЕСТИРОВАНИЯ. ПРИ СОЗДАНИИ ГОТОВОГО ШАБЛОНА ПРОСЬБА ИСПОЛЬЗОВАТЬ ТЕ ЖЕ ШАБЛОННЫЕ ТЭГИ.-->
    <div>
        <form method="post" style="margin-left: 20px" action="{% url 'articles:add_post' %}">
            {% csrf_token %}
            {{ form.author_id }}
            <h5>Заголовок поста</h5>
            {{ form.topic }}
            <h5>Текст статьи:</h5>
            {{ form.article_body }}
            <br>
            <input class="button" type="submit" value="Опубликовать">
        </form>
    </div>
    <!--ДАННЫЙ БЛОК ДЛЯ ТЕСТИРОВАНИЯ. ПРИ СОЗДАНИИ ГОТОВОГО ШАБЛОНА ПРОСЬБА ИСПОЛЬЗОВАТЬ ТЕ ЖЕ ШАБЛОННЫЕ ТЭГИ.-->
{% endblock %}