{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="main-wrapper">
        <div class="site-wrapper-reveal">
            <div class="share-your-thinking-area section-space--ptb_80">
                <div class="container">
                    <div class="row">
                        <div class="login-content">
                            {% if  messages %}
                                <div class="alert {% if messages.level == 20 %} alert-success {% else %} alert-danger
                                    {% endif %} alert-dismissible fade show" role="alert" style="margin-bottom: 30px;">
                                    {% for mes in messages %}
                                        {{ mes }}
                                    {% endfor %}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                            <form method="post" style="margin-left: 20px" action="{% url 'articles:add_post' %}">
                                {% csrf_token %}
                                <fieldset class="item toggle-item">
                                    <div class="legend-container">
                                        <legend>Категории</legend>
                                    </div>
                                    <ul class="scrollable-dropdown-list" id="id_name">
                                        {% for category in categories %}
                                            {% for cat in category %}
                                                <li>
                                                    <input type="checkbox" class="custom-control-input filter" id="{{cat.id_for_label}}" name="name" value="{{cat.data.value}}">
                                                    <label for="{{cat.id_for_label}}" class="custom-control-label">{{cat.choice_label}}</label>
                                                </li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </fieldset>
                                {% for f in form %}
                                    <label class="form-label"
                                           for="{{ f.id_for_label }}">{{ f.label }}: </label>
                                    {{ f }}
                                    <br>
                                {% endfor %}
                                <div class="button-box mt-4">
                                    <button type="submit" class="btn-primary btn-medium">Опубликовать</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}