{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="site-wrapper-reveal">
        <div class="hero-area">
            <div class="container">
                <div class="row" style="margin-bottom: 40px">
                    {% if not object_list %}
                        <h4>Нет статей</h4>
                    {% else %}
                        {% for article in object_list %}
                            <div class="author-blog-post-wrap masonary-item cat--3">
                                <a href="{% url 'articles:article-detail' article.guid %}">
                                    <img width="380" height="250"
                                         src="/media/{{ article.category_id.category_image }}" alt="">
                                </a>
                                <div class="author-blog-post-content">
                                    <h3 class="title mb-2">
                                        <a href="{% url 'articles:article-detail' article.guid %}">
                                            {{ article.topic }}
                                        </a>
                                    </h3>
                                    <div class="blog-details-meta-box">
                                        <div class="post-meta-left-side mb-2">
                                            <div class="blog-post-category">
                                                <a href="#" class="btn-medium business mr-1">
                                                    {{ article.category_id.category_name }}
                                                </a>
                                            </div>
                                            <div class="blog-post-author">
                                                Автор: <a href="#">{{ article.author_id.username }}</a>
                                            </div>
                                        </div>
                                        <div class="post-right-side mb-2">
                                            <span class="post-meta-left-side">
                                                <span class="post-date">
                                                    <i class="icofont-ui-calendar"></i>
                                                    <a href="#">{{ article.creation_date }}</a>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <p class="mb-2">
                                        Тут должно быть превью текста.
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    {% include 'pagination.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}