{% extends 'base.html' %}
{% load static %}
{% load article_tags %}
{% block content %}
    <div id="main-wrapper">
        <div class="site-wrapper-reveal">
            <div class="blog-details-wrapper section-space--ptb_80">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title text-center section-border-bottom">
                                <h2>{{ title }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row single-most-populer-item">
                        {% if not articles %}
                            <h4>Нет статей</h4>
                        {% else %}
                            {% for article in articles %}
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="single-following-post" data-aos="fade-up">
                                        <div class="following-post-content">
                                            <div class="following-blog-post-top">
                                                <div class="trending-blog-post-category">
                                                    <a href="#" class="lifesytle">{{ title }}</a>
                                                </div>
                                                <div class="following-blog-post-author">
                                                    Автор: <a href="#">{% author_name article %}</a>
                                                </div>
                                            </div>
                                            <h5 class="following-blog-post-title">
                                                <a href="{% url 'articles:article-detail' article.guid %}">
                                                    {{ article.topic }}
                                                </a>
                                            </h5>
                                            <p class="mb-2">
                                                {{ article.article_body | safe }}
                                            </p>
                                            <div class="following-blog-post-meta">
                                                <div class="post-meta-left-side">
                                                    <span class="post-date">
                                                        <i class="icofont-ui-calendar">&nbsp</i>
                                                        <a href="#">
                                                            {{ article.creation_date }}
                                                        </a>
                                                    </span>
                                                </div>
                                                <div class="post-meta-right-side">
                                                    <div class="author-action">
                                                        <a>
                                                            <img src="{% static 'images/ico_dislike.png' %}" alt=""
                                                                 style="max-width: 24px; max-height: 24px">
                                                        </a>
                                                        <a>
                                                            <img src="{% static 'images/ico_like.png' %}" alt=""
                                                                 style="max-width: 24px; max-height: 24px">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% include 'pagination.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}