{% extends 'base.html' %}

{% block content %}
<div id="main-wrapper">
    <div class="site-wrapper-reveal">
        <div class="blog-details-wrapper section-space--ptb_80">
            <div class="container">
                {% if  messages %}
                    <div class="alert
                        {% if messages.level == 20 %}
                            alert-success
                        {% else %}
                            alert-warning
                        {% endif %}
                        alert-dismissible fade show" role="alert" style="margin-top: 50px;">
                        {% if messages %}
                            {% for mes in messages %}
                                {{ mes }}
                            {% endfor %}
                        {% endif %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center section-border-bottom">
                            <h2>{{ title }}</h2>
                        </div>
                    </div>
                </div>
                <div class="row single-most-populer-item">
                    <div class="krabr_border">
                        {% include 'articles/includes/table_notifications.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}