{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="main-wrapper">
        <div class="site-wrapper-reveal bg-gray-1">
            <div class="blog-details-two-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="blog-details-two-header">

                                <div class="blog-details-two-post-meta">
                                    <span class="blog-details-two-post-author">
                                    Автор: <a href="#">{{ article.author_id.username }}</a>
                                </span>
                                    <span class="post-date">
                                    <a href="#">{{ article.creation_date }}</a>
                                </span>
                                </div>
                                <h2 class="blog-details-two-post-title">
                                    {{ article.topic }}
                                </h2>

                            </div>
                            <div class="blog-details-two-post-text section-space--pb_80">
                                <div class="col-lg-10 m-auto">
                                    <p>{{ article.article_body | safe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- Comment Area Start -->
        <div class="comment-area section-space--pt_60 section-space--pb_100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="section-title">
                            <h3 class="title">Leave a comment</h3>
                        </div>
                        <form action="#" class="comment-form-area">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="single-input">
                                        <input type="text" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="single-input">
                                        <input type="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="single-input">
                                        <textarea placeholder="Massage"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="submit-button text-center">
                                        <button class="btn-large btn-bg-6 btn-primary" type="submit"> Submit Now <i class="icofont-long-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            <!-- Comment Area End -->
    </div>
{% endblock %}