{% extends 'base.html' %}
{% load static %}
{% load article_tags %}
{% block content %}
    <div id="main-wrapper">
        <div class="site-wrapper-reveal">
            <div class="blog-details-wrapper section-space--ptb_80">
                <div class="container">
                    <div class="row row--17 col-lg-8 article_center">
                    <div class="col-lg-12">
                        <a class="btn btn-primary col-lg-12" href="{% url 'articles:update_post' article.guid%}">Редактирование статьи</a>
                        <form method="post" action="{% url 'articles:delete_post' article.guid%}">
                            {% csrf_token %}
                            <input class="btn btn-primary col-lg-12" type="submit" value="Удаление статьи">
                        </form>
                    </div>
                        <div class="blog-details-col-12">
                            <div class="blog-details-post-wrap">
                                <div class="blog-details-post-content">
                                    <div class="blog-details-meta-box">
                                        <div class="post-meta-left-side mb-2">
                                            <div class="blog-post-author">
                                                Автор:
                                                <a href="{% url 'users:public_profile' article.author_id.id %}">
                                                    {% author_name article %}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post-meta-right-side mb-2">
                                            <span class="post-meta-left-side">
                                                <span class="post-date">
                                                    <i class="icofont-ui-calendar">&nbsp</i>
                                                    <a href="#">
                                                        {{ article.creation_date }}
                                                    </a>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <h3 class="following-blog-post-title">
                                        <a href="#">
                                            {{ article.topic }}
                                        </a>
                                    </h3>
                                    <div class="blog-details-meta-box">
                                        <div class="post-meta-left-side mb-2">
                                            {% artcats article.guid as categories %}
                                            {% for category in categories %}
                                                <div class="trending-blog-post-category" style="margin: 2px">
                                                    <a href="#" class="btn-small lifesytle">
                                                        {{ category.name }}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="post-details-text">
                                        {{ article.article_body|safe }}
                                    </div>
                                    <div class="author-post-bottom-area" id="{{ article.guid }}">
                                        {% include 'articles/includes/article_bottom.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-area section-space--pt_60 section-space--pb_100">
                        <div class="container">
                            <div class="row col-lg-8 article_center">
                                <div class="col-lg-10 m-auto">
                                    <div class="comment-list-wrapper" id="c_{{ article.guid }}">
                                        {% include 'articles/includes/article_comments.html' %}
                                    </div>
                                </div>
                            </div>
                            {% if request.user.is_authenticated %}
                                <div id="CommentBlock" class="row col-lg-8 article_center">
                                    <div class="col-lg-10 m-auto">
                                        <div class="section-title">
                                            <h3 class="title">
                                                Оставить комментарий
                                            </h3>
                                        </div>
                                        <form method="post" enctype="multipart/form-data"
                                              class="comment-form-area">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="single-input">
                                                        {{ form.body }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <button
                                                            class="btn-large btn-primary"
                                                            type="button"
                                                            onclick="add_comment('{% url 'articles:article-detail' article.guid %}')">
                                                        Отправить
                                                        <i class="icofont-long-arrow-right"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/form_serialize.js' %}"></script>
    <script>
        function like_pressed(_url, _article) {
            $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: _url,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'article': _article
                    },
                    success:
                        function callback(response) {
                            if (response.result === 1) {
                                document.getElementById(response.object).innerHTML = response.data
                            }
                        }
                }
            )
            ;
        }

        function add_comment(_url) {
            console.log(get_form_serialize('#CommentBlock'))
            $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: _url,
                    data: get_form_serialize('#CommentBlock'),
                    success:
                        function callback(response) {
                            if (response.result === 1) {
                                document.getElementById(response.object).innerHTML = response.data
                                document.getElementById(response.like_object).innerHTML = response.like
                            }
                        }
                }
            )
            ;
        }
    </script>
{% endblock %}