{% extends 'base.html' %}
{% load static %}
{% load article_tags %}
{% block content %}
    <div id="main-wrapper">
        <div class="site-wrapper-reveal">
            <div class="blog-details-wrapper section-space--ptb_80">
                <div class="container">
                    <div class="row row--17 col-lg-8 article_center">
                        <div class="blog-details-col-12">
                            <div class="blog-details-post-wrap">
                                <div class="blog-details-post-content">
                                    <div class="blog-details-meta-box">
                                        <div class="post-meta-left-side mb-2">
                                            <div class="blog-post-author">
                                                Автор:
                                                <a href="{% url 'users:public_profile' article.author_id.id %}">
                                                    {% author_name article %}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="post-meta-right-side mb-2">
                                            <span class="post-meta-left-side">
                                                <span class="post-date">
                                                    <i class="icofont-ui-calendar">&nbsp</i>
                                                    <a href="#">
                                                        {{ article.creation_date }}
                                                    </a>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <h3 class="following-blog-post-title">
                                        <a href="#">
                                            {{ article.topic }}
                                        </a>
                                    </h3>
                                    <div class="blog-details-meta-box">
                                        <div class="post-meta-left-side mb-2">
                                            {% artcats article.guid as categories %}
                                            {% for category in categories %}
                                                <div class="trending-blog-post-category" style="margin: 2px">
                                                    <a href="#" class="btn-small lifesytle">
                                                        {{ category.name }}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="post-details-text">
                                        {{ article.article_body|safe }}
                                    </div>
                                    <div class="author-post-bottom-area" id="{{ article.guid }}">
                                        {% include 'articles/includes/article_bottom.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-area section-space--pt_60 section-space--pb_100">
                        <div class="container">
                            <div class="row col-lg-8 article_center">
                                <div class="col-lg-10 m-auto">
                                    <div class="comment-list-wrapper">
                                        <h3 class="widget-title mb-30">
                                            Комментарии ({{ article.guid|get_comments_count }})
                                        </h3>
                                        {% if comments %}
                                            <ol class="comment-list">
                                                {% for comment in comments %}
                                                    <li class="comment">
                                                        <div class="comment-2">
                                                            <div class="comment-author-info">
                                                                <div class="comment-author vcard">
                                                                    <img src="{% author_photo comment.user_id.id %}"
                                                                         alt=""
                                                                         style="max-height: 50px; max-width: 50px">
                                                                </div>
                                                                <div class="comment-content">
                                                                    <div class="meta">
                                                                        <div class="comment-content-top">
                                                                            <div class="comment-actions">
                                                                                <h6 class="fn">
                                                                                    <a href="{% url 'users:public_profile' comment.user_id.id %}">
                                                                                        {% comment_author_name comment %}
                                                                                    </a>
                                                                                </h6>
                                                                                <div class="comment-datetime">
                                                                                    {{ comment.date_added }}
                                                                                </div>
                                                                                <span class="separator">
                                                                        ||
                                                                    </span>
                                                                                <span class="time_comment">
                                                                        {{ comment.time_added }}
                                                                    </span>
                                                                            </div>
                                                                        </div>
                                                                        {#                                                                    <button class="btn-large btn-primary" type="submit">#}
                                                                        {#                                                                        <i class="icofont-reply"></i>Ответить#}
                                                                        {#                                                                    </button>#}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="comment-text">
                                                                <p>{{ comment.body | safe }}</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% if request.user.is_authenticated %}
                                <div class="row col-lg-8 article_center">
                                    <div class="col-lg-10 m-auto">
                                        <div class="section-title">
                                            <h3 class="title">
                                                Оставить комментарий
                                            </h3>
                                        </div>
                                        <form method="post" enctype="multipart/form-data" id="add_comment" class="#add_comment"
                                              class="comment-form-area">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="single-input">
                                                        {{ form.body }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <button class="btn-large btn-primary"
                                                            onclick="add_comment('{% url 'articles:article-detail' article.guid %}')">
                                                        Отправить
                                                        <i class="icofont-long-arrow-right"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/form_serialize.js' %}"></script>
    <script>
        function like_pressed(_url, _article) {
            $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: _url,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'article': _article
                    },
                    success:
                        function callback(response) {
                            if (response.result === 1) {
                                document.getElementById(response.object).innerHTML = response.data
                            }
                        }
                }
            )
            ;
        }

        function add_comment(_url) {
            console.log(get_form_serialize("#add_comment"))
            $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: _url,
                    data: get_form_serialize("#add_comment"),
                    success:
                        function callback(response) {
                            if (response.result === 1) {
                                document.getElementById(response.object).innerHTML = response.data
                            }
                        }
                }
            )
            ;
        }
    </script>
{% endblock %}