{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="main-wrapper">
        <div class="site-wrapper-reveal">
            <div class="login-register-page-area section-space--ptb_80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 m-auto">
                            <div class="login-content">
                                <div class="login-header mb-40">
                                    <h5>Авторизация</h5>
                                </div>
                                <form method="post">
                                    {% csrf_token %}
                                    {#                                  Общие ошибки#}
                                    <div class="form-error">{{ form.non_field_errors }}</div>
                                    {% for f in form %}
                                        <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>
                                        {{ f }}
                                    {% endfor %}
                                    <button type="submit" class="btn-primary btn-large">Войти</button>
                                    <div class="member-register mt-5">
                                        <p> Не зарегистрированы? <a href="{% url 'users:registration' %}">
                                            Зарегистрироваться</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
