{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="main-wrapper">
        <div class="site-wrapper-reveal">
            <div class="login-register-page-area section-space--ptb_80">
                <div class="container col-lg-8">
                    {% if  messages %}
                        <div class="alert
                        {% if messages.level == 20 %}
                            alert-success
                        {% else %}
                            alert-warning
                        {% endif %}
                        alert-dismissible fade show" role="alert" style="margin-top: 50px;">
                        {% if messages %}
                            {% for mes in messages %}
                                {{ mes }}
                            {% endfor %}
                        {% endif %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    <div class="row justify-content-md-center">
                        <div class="login-header mb-40">
                            <h3 class="mb-2">Личный кабинет пользователя - {{ user.username }}</h3>
                        </div>
                        <form class="row justify-content-md-center" action="{% url 'users:profile' %}"
                                  method="post" enctype="multipart/form-data">
                            <div class="col-lg-6">
                                <div class="col-lg-12 mb-25">
                                    <img width="200" height="200" src="
                                        {% if user.userprofile.profile_image %}
                                            {{ user.userprofile.profile_image.url }}
                                        {% else %}
                                            {% static 'images/default_user_avatar.jpg' %}
                                        {% endif %}" class="img-thumbnail" alt="Аватар профиля"
                                         onclick="id_profile_image.click()">
                                </div>
                                {% csrf_token %}
                                {{ profile.profile_image }}
                                <label class="fa-6 my-1" for="{{ form.username.id_for_label }}">
                                    Имя пользователя
                                </label>
                                {{ form.username }}
                                <label class="fa-6 my-1" for="{{ form.email.id_for_label }}">
                                    Адрес электронной почты
                                </label>
                                {{ form.email }}
                                <label class="fa-6 my-1" for="{{ profile.birthday.id_for_label }}">
                                    Дата рождения
                                </label>
                                {{ profile.birthday }}
                            </div>
                            <div class="col-lg-6">
                                {% csrf_token %}
                                <label class="fa-6 my-1" for="{{ form.first_name.id_for_label }}">
                                    Имя
                                </label>
                                {{ form.first_name }}
                                <label class="fa-6 my-1" for="{{ form.last_name.id_for_label }}">
                                    Фамилия
                                </label>
                                {{ form.last_name }}
                                <label class="fa-6 my-1" for="{{ profile.gender.id_for_label }}">
                                    Пол
                                </label>
                                <div class="single-input-box">
                                    {{ profile.gender }}
                                </div>
                                <label class="fa-6 my-1" for="{{ profile.phone_number.id_for_label }}">
                                    Номер телефона
                                </label>
                                {{ profile.phone_number }}
                                <label class="fa-6 my-1" for="{{ profile.about.id_for_label }}">
                                    О себе
                                </label>
                                <div class="single-input-box">
                                    {{ profile.about }}
                                </div>
                                <div class="col-lg-12" style="margin-top: 33px;">
                                    <input class="btn btn-primary btn-large" type="submit" value="Сохранить"
                                       style="float: right">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
