{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="main-wrapper">
        <div class="site-wrapper-reveal">
            <div class="login-register-page-area section-space--ptb_80">
                <div class="container col-lg-8">
                    <div class="row" style="justify-content: right">
                        <div class="btn-group" style="margin-bottom: 33px; width: auto">
                            {% if user.id == request.user.id %}
                                <button class="btn btn-primary btn-large" value="Редактировать профиль">
                                    <a class="button-link" href="{% url "users:profile" %}">
                                        <i class="bi bi-pencil" style="margin-left: 0px;"></i>
                                    </a>
                                </button>
                                <button class="btn btn-primary btn-large" value="Написать статью">
                                    <a class="button-link" href="{% url "articles:add_post" %}">
                                        <i class="bi bi-file-earmark-plus" style="margin-left: 0px;"></i>
                                    </a>
                                </button>
                                <button class="btn btn-primary btn-large" value="Мои статьи">
                                    <a class="button-link" href="{% url "articles:user_articles" user.id %}">
                                        <i class="bi bi-files" style="margin-left: 0px;"></i>
                                    </a>
                                </button>
                                {# если персонал #}
                                {% if user.is_staff %}
                                <button class="btn btn-primary btn-large" value="Панель персонала">
                                    <a class="button-link" href="{% url 'admin:index' %}">
                                        <i class="bi bi-person-workspace" style="margin-left: 0px;"></i>
                                    </a>
                                </button>
                                {% endif %}
                            {% else %}
                                <button class="btn btn-primary btn-large" value="Статьи {{ user.username }}">
                                    <a class="button-link" href="{% url "articles:user_articles" user.id %}">
                                        <i class="bi bi-files" style="margin-left: 0px;"></i>
                                    </a>
                                </button>
                            {% endif %}
                        </div>
                        <div class="login-header">
                            <h3 class="mb-2">Страница пользователя - {{ user.username }}</h3>
                            <h4 class="mb-2">рейтинг: {{ user_rating }}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="col-lg-12 write-content-box">
                                <img width="200" height="200" src="
                                    {% if user.userprofile.profile_image %}
                                        {{ user.userprofile.profile_image.url }}
                                    {% else %}
                                        {% static 'images/default_user_avatar.jpg' %}
                                    {% endif %}" class="img-thumbnail" alt="Аватар профиля"
                                     onclick="id_profile_image.click()">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            {% if user.email != '' %}
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="title-write">
                                            <p>
                                                Email
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="write-content-box">
                                            <p>
                                                {{ user.email }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if user.userprofile.birthday != '' %}
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="title-write">
                                            <p>
                                                Дата рождения
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="write-content-box">
                                            <p>
                                                {{ user.userprofile.birthday }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if user.first_name != '' %}
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="title-write">
                                            <p>
                                                Имя
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="write-content-box">
                                            <p>
                                                {{ user.first_name }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            {% if user.last_name != '' %}
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="title-write">
                                            <p>
                                                Фамилия
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="write-content-box">
                                            <p>
                                                {{ user.last_name }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if user.userprofile.gender != '' %}
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="title-write">
                                            <p>
                                                Пол
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="write-content-box">
                                            <p>
                                                {{ user.userprofile.gender }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-6">
                            {% if user.userprofile.phone_number is not None %}
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="title-write">
                                            <p>
                                                Номер телефона
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="write-content-box">
                                            <p>
                                                {{ user.userprofile.phone_number }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if user.userprofile.about is not None %}
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="title-write">
                                            <p>
                                                О себе
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="write-content-box">
                                            <p>
                                                {{ user.userprofile.about }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
