{% if object_list %}
    {% if is_paginated %}
        <nav aria-label="Навигация">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item "><a class="page-link bg-black bg-opacity-75 text-decoration-none text-white"
                                              href="{{ request.path }}?page=1">1</a>
                    </li>
                    <li class="page-item {% if page_obj.has_previous %}  {% else %} disabled  {% endif %}">
                        <a class="page-link bg-black bg-opacity-75 text-decoration-none text-white"
                                {% if page_obj.has_previous %}
                           href="{{ request.path }}?page={{ page_obj.previous_page_number }}" {% else %}
                           href="#" {% endif %}  aria-label="Previous"><</a>
                    </li>
                    <li class="page-item "><a
                            class="page-link {% if page_obj.previous_page_number == page_obj.number %} bg-primary {% else %} bg-black {% endif %} bg-opacity-75 text-decoration-none text-white"
                            href="{{ request.path }}?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                    </li>
                {% endif %}
                <li class="page-item "><a
                        class="page-link {% if page_obj.number == page_obj.number %} bg-primary {% else %} bg-black {% endif %} bg-opacity-75 text-decoration-none text-white"
                        href="{{ request.path }}?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                </li>
                {% if page_obj.has_next %}
                    <li class="page-item "><a
                            class="page-link {% if page_obj.next_page_number == page_obj.number %} bg-primary {% else %} bg-black {% endif %} bg-opacity-75 text-decoration-none text-white"
                            href="{{ request.path }}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    </li>
                    <li class="page-item {% if page_obj.has_next %} {% else %} disabled {% endif %}">
                        <a class="page-link bg-black bg-opacity-75 text-decoration-none text-white"
                                {% if page_obj.has_next %}
                           href="{{ request.path }}?page={{ page_obj.next_page_number }}" {% else %}
                           href="#" {% endif %} aria-label="Next">></a>
                    </li>
                    <li class="page-item "><a class="page-link bg-black bg-opacity-75 text-decoration-none text-white"
                                              href="{{ request.path }}?page={{ page_obj.paginator.num_pages }} ">{{ page_obj.paginator.num_pages }}</a>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endif %}


